<header class="site-header">
  <nav class="navbar navbar-expand-lg site-header__navbar">
    <div class="container">

      <a class="navbar-brand site-header__brand" href="index.html">
        <picture>
          <source
            srcset="./assets/images/header-logo.png?as=webp&width=300"
            type="image/webp"
          />
          <img
            src="./assets/images/header-logo.png?width=300"
            alt="Universitat Oberta de Catalunya"
            class="uoc-logo"
          />
        </picture>
      </a>

      <button
        class="navbar-toggler site-header__toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavigation"
        aria-controls="mainNavigation"
        aria-expanded="false"
        aria-label="Obrir o tancar el menú de navegació"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavigation">
        <ul class="navbar-nav ms-auto site-header__menu">
          <li class="nav-item">
            <a class="nav-link site-header__link" href="index.html" aria-current="page">
              Inici
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link site-header__link" href="ponents.html">
              Ponents
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link site-header__link" href="article.html">
              Article
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link site-header__link" href="activitats.html">
              Activitats
            </a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>
